body {
	background-color: #D8EEFE;
}

.page_main {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

header {
	padding-top: 32px;
	padding-left: 16px;
	margin-bottom: 48px;
}

h1 {
	font-weight: bold;
	font-size: 32px;
	line-height: 38px;
	color: #094067;
}

.contents_container {
	padding: 16px;
}

.list_container {
	background-color: #FFFFFE;
	padding: 16px;
	border-radius: 5px;
	margin-bottom: 16px;
}

.popup {
	display: flex;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.8);
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	padding-top: 98px;
	transition: all 0.25s;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
}

.delete_container.bg-warning {
	transform: translateY(0%);
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-ms-transform: translateY(0%);
	-o-transform: translateY(0%);
}

.delete_container.bg-warning button{
	 margin-right: 32px;
	 margin-bottom: 12px;
}
.popup label {
	font-weight: 500;
	font-size: 16px;
}

input {
	width: 100%;
	outline: none;
	border: none;
    padding: 5px;
	border-radius: 4px;
}

input:focus {
	border-color: blue;
}

select#select_month {
	width: 100%;
}

img {
	border-radius: 5px;
}

.personName {
	color: royalblue;
}

.filter_list_container {
	padding-left: 16px;
}

.open {
	opacity: 1;
	pointer-events: all;
}

.container, .delete_container {
	width: 80%;
	padding: 32px;
}

button, .filter_container input, .filter_container select {
	font-size: 16px;
	padding: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: none;
	border-radius: 8px;
}

svg {
	max-width: 40px;
	cursor: pointer;
}

.warning {
	font-size: 24px;
	color: white;
}

.confirm_delete {
	background-color: red;
	color: white;
}

.cancel_delete, .cancel {
	background-color: green;
	color: white;
}

.whishingBirthday_text {
	font-size: 16px;
	margin-top: 12px;
	color: skyblue;
}

.whishingBirthday_text svg {
	width: 20px;
}
strong {
	color: #EF4565;
}

.add_list {
	font-weight: bold;
	margin-bottom: 16px;
	margin-left: 8px;
	background-color: #EF4565;
	border-radius: 5px;
	color: white;
}

.add_list:hover {
	background-color: blue;
	border-color: red;
	font-weight: bold;
	color: #ffffff;
}

.filter_container {
	display: flex;
	flex-direction: column;
	max-width: 70%;
}

.filter_container label {
	display: block;
}

.button_container {
	display: flex;
	justify-content: space-between;
	margin-top: 12px;
}

.popup .button_container {
	flex-direction: column;
}

.popup .button_container button {
	font-weight: 500;
	margin-bottom: 12px;
}

.reset_filter {
	background-color: blue;
	color: #ffffff;
}

.reset_filter:hover {
	background-color: grey;
	color: white;
}

.peopleList_name {
	font-weight: 500;
	margin-top: 12px;
	margin-bottom: 10px;
	font-size: 24px;
	line-height: 28px;
	color: #000000;
}

.peopleList_birthday.date {
	font-size: 17px;
	line-height: 21px;
	color: #5F6C7B;
}

.peopleList_edit {
	display: flex;
	justify-content: flex-end;
}

.peopleList_edit svg {
	width: 36px;
}

.edit {
	margin-right: 32px;
}

label {
	font-size: 24px;
}

.result_container {
	display: flex;
	flex-direction: row;
	transform: translateX(100%);
}

.result_container p {
	font-size: 32px;
	color: red;
}

.today {
	font-size: 24px;
	font-style: italic;
	color: royalblue;
}

@media(min-width: 1114px) {
	header {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-bottom: 64px;
	}
	h1 {
		font-size: 64px;
	}
	.filter_container {
		max-width: 100%;
		flex-direction: row;
		justify-content: space-between;
	}

	.input_container {
		flex-basis: 35%;
	}

	.contents_container {
		padding-left: 0;
		padding-right: 0;
	}
	.filter_list_container {
		padding-left: 0;
	}
	.list_container {
		display: grid;
		grid-template-columns: 16% 62% auto;
	}

	.popup {
		padding: 120px;
	}
	.button_container {
		margin-top: 43px;
	}
	.popup .button_container {
		margin-top: 12px;
	}
	
	button#reset_filter { 
		font-weight: 600;
	}

	button.submit_button {
		background: #EF4565;
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;
		color: #FFFFFE;
	}
	.popup .button_container {
		flex-direction: row;
		margin-bottom: 0;
	}
	.container.bg-primary {
		background: rgba(168, 43, 226, 0.418);
		padding: 120px;
		padding-top: 50px;
	}
	.container.bg-primary {
		padding-bottom: 16px;
	}
	.popup h3 {
		max-width: fit-content;
		margin-left: auto;
		margin-right: auto;
		font-size: 24px;
	}
	.container, .delete_container {
		width: 60%;
	}
	.delete_container.bg-warning {
		transform: translateY(80%);
		-webkit-transform: translateY(80%);
		-moz-transform: translateY(80%);
		-ms-transform: translateY(80%);
		-o-transform: translateY(80%);
	}
	.peopleList_name {
		font-size: 36px;
		line-height: 43px;
		margin: 0;
	}
	.peopleList_birthday.date {
		font-size: 24px;
		line-height: 28px;
	}
	.peopleList_numberOfDays.days {
		font-size: 24px;
		line-height: 28px;
		margin-left: 68px;
	}

	.whishingBirthday_text {
		font-size: 24px;
		margin-top: 17px; 
	}

	.edit {
		margin-right: 16px;
	}
}